modules = ["web", "nodejs-20", "postgresql-16", "python-3.11"]
[agent]
expertMode = true
integrations = ["sendgrid:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["docker_28", "wine-wayland"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Vybez Chat App"

[[workflows.workflow]]
name = "Vybez Chat App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35553
externalPort = 3001

[[ports]]
localPort = 39305
externalPort = 5000

[[ports]]
localPort = 39693
externalPort = 3002

[[ports]]
localPort = 40191
externalPort = 4200

[[ports]]
localPort = 45081
externalPort = 3003

[[ports]]
localPort = 45125
externalPort = 5173

[[ports]]
localPort = 46011
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build:css"]

[objectStorage]
defaultBucketID = "replit-objstore-3cb6c369-1cb2-46a1-a2e5-05546f2b1d4e"
